asgiref==3.8.1
dataclasses==0.6
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
djongo==1.2.31
dnspython==2.7.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pymongo==4.10.1
python-decouple==3.8
pytz==2024.2
sqlparse==0.5.3
